body {
    background-image: url('imagens/nina-bk2.gif');
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 40pt;
}

h4 {
    font-size: 17pt;
    font-weight: lighter;
}

#conteudo {
    max-width: 1200px;
    padding: 2%;
    margin: 0 auto;
}

#cabecalho {
    margin-bottom: 30px;
    width: 35%;
    float: left;
}

#menu {
    width: 65%, 700px;
    padding-top: 80px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 40px;
    padding-top: 12px;
    background-image: linear-gradient(to right,#fbe951, #faac46);
}

.topnav a {
    color: black;
    text-decoration: unset;
    font-family:  'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 17pt;
    margin-left: 10pt;
    margin-right: 30px;
    padding-top: 1px;
}

.topnav a:hover {
    font-weight:bolder;
}

.topnav .icon {
    display: none;
}

#submenu {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
}

.itemSub a {
    color: black;
    text-decoration: unset;
    font-family:  'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 15pt;
    margin-left: 4pt;
    margin-right: 10px;
}

.itemSub a:hover {
    font-weight:bolder;
}

/* Responsivo menu */
@media screen and (max-width: 900px) {
    .topnav a {display:none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {position:relative;}
    .topnav.responsive a.icon {
        position:absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float:none;
        display: block;
        text-align: right;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }


.row2 {
    display: flex;
}

/* Responsivo banner*/

@media (max-width: 800px) {
    .row2 {
        display: flex;
        flex-wrap: wrap;
    }  
    #textobanner {
        flex: 100%;
    }
}

#textobanner {
    width: 40%;
    float: left;
}

#videobanner {
    width: 60%;
    padding-left: 10px;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

#destaques {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.linkDestaque {
    margin-right: 10pt;
    margin-top: 30px;
}

#sobre {
    background-color: whitesmoke;
}

.conteudo {
    padding-top: 1px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1px;
}

#rodape {
    background-image: linear-gradient(to right,#fbe951, #faac46);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#email {
    margin-bottom: 30px
}